{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Filmes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    <header class="bg-indigo-800 text-white shadow-lg">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="logo text-2xl font-bold">Catálogo by Thiago</div>
            <nav>
                <ul class="flex space-x-6">
                    <li><a href="/" class="navbar-item">Home</a></li>
                    <li><a href="/list_all/" class="navbar-item">Filmes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}
        <div class="flex flex-wrap">
            {% for filme in filmes %}
            <div class="flex max-w-lg mx-auto p-3 space-x-3 bg-blue-gray-50 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 border border-blue-gray-100 m-1">
                <div class="flex flex-col flex-1 min-w-0 p-2">
                    <h3 class="text-base font-semibold truncate text-blue-gray-800">{{ filme.titulo }}</h3>
                    <p class="text-blue-gray-600 text-xs line-clamp-2 mt-1">{{ filme.descricao }}</p>
                    <p class="text-blue-gray-500 text-xs mt-1.5 font-medium">{{ filme.ano_lancamento }}</p>
                    </br>
                    <a href="/filme/{{ filme.id }}">
                        <button>Ver mais</button>
                    </a>
                </div>
                <div class="flex-shrink-0 w-1/5 my-1 mr-1">  <!-- Reduced image width -->
                    <img 
                        src="{{ filme.imagem.url }}" 
                        alt="{{ filme.titulo }}"
                        class="w-full h-full object-cover aspect-[2/3] rounded-md shadow-xs border border-blue-gray-200"
                    >
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white py-6 mt-8">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; 2025 Thiago Araujo. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>